<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/css/style.css" rel="stylesheet" type="text/css" />
  <title>Les Argonautes</title>
</head>
<body>

<!-- Header section -->
<header>
  <img src="/images/logo.png" alt="Logo WildCodeSchool">
  <h1>Les Argonautes</h1>
</header>

<!-- Main section -->
<main>
  
  <!-- New member form -->
  <h2>Ajouter un(e) Argonaute</h2>
  <form class="new-member-form" method="POST" action="/add">
    <label for="name">Nom de l&apos;Argonaute</label>
    <input id="name" name="name" type="text" placeholder="Charalampos" />
    <button type="submit">Envoyer</button>
  </form>
  
  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section class="member-list">
    <ul>
      <% argonautes.forEach( (argonaute) => { %>
        <li class="member-item">
            <span><%= argonaute.name %></span>
            <!-- method override -->
            <form method="POST" action="/remove/<%= argonaute.name %>?_method=DELETE" >
              <button type="submit">X</button>
            </form>
        </li>
      <% }) %>
    </ul>

  </section>

</main>

<footer>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>

</body>
</html>
